.centner{
	text-align: center;
	width: 100%;
}
.small-12 {
	margin-bottom: 8px;
}
.padds{
	margin-top: 15px;
	margin-bottom: 10px;
}
.footer{
	padding-left: 15px;
  	box-sizing: border-box;
}
@media only screen and (max-width: 40.0625em){
	.icon-bar .item{
		width:100%!important;		
	}
	.icon-bar .item label{
		font-size:2rem!important;
	}
}